{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ object.imagem.url }}" alt="{{ object.nome }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">{{ object.nome }}</h2>
            <p class="mb-4">{{ object.descricao }}</p>
            <p class="mb-4">Preço: R$ {{ object.preco }}</p>
            <p class="mb-4">Categoria: {{ object.categoria }}</p>
            <p class="mb-4">Disponível: {% if object.disponivel %}Sim{% else %}Não{% endif %}</p>
            <a href="{% url 'listarprodcateg' categ_slug=object.categoria.slug %}" class="btn btn-secondary">Voltar para a categoria</a>
        </div>
    </div>
{% endblock %}
