{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block conteudo %}
                <div class="row gx-4 gx-lg-2 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                            <!-- Product image-->
                            <img class="card-img-top" src="{% static 'assets/logo_loja.png'%}" alt="Logo Loja" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Waulmart</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}